@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(../images/bg-mobile_dark.jpg);
    --stroke-color: rgba(255,255,255, 0.5);
    --surface-color: rgba(255,255,255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../images/MoonStars.svg);
}

.light {
    --text-color: black;
    --bg-url: url(../images/bg-mobile_light.jpg);
    --stroke-color: rgba(0,0,0, 0.5);
    --surface-color: rgba(0,0,0, 0.05);
    --surface-color-hover: rgba(0,0,0, 0.02);
    --highlight-color: rgba(0,0,0, 0.1);
    --switch-bg-url: url(../images/Sun.svg);
}

body {
    /*
    background-image: url(../images/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    Na propriedade background, podemos usar a notação abreviada para definir todas essas propriedades em uma única linha.
    
    A ordem dos valores são: color (não estamos usando), image, repeat, position e size. 
    background: [color] [image] [repeat] [position]/[size];
    */
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto;
    margin-top: 56px;
    padding: 0 24px;
}

/* profile */
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/* switch */
#switch {
    position: relative;
    width: 64px;
    margin: 24px auto;
    cursor: pointer;
}

#switch button {
    background: white var(--switch-bg-url) no-repeat center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;
    animation: slide-back 0.2s forwards;
}

#switch button:hover {
    outline: 8px solid var(--highlight-color);
}

.light #switch button {
    animation: slide-in 0.2s forwards; /*slide-in: nome da animação / 0.4s: tempo de execução / forwards: faz com que a parada seja na propriedade que estiver no "to {}" */
}

#switch span {
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: block;
    border-radius: 9999px;
}


/* links */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border: 1px solid var(--stroke-color);
    background: var(--surface-color);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-weight: 500;
    text-decoration: none;
    transition: background 0.2s;
}

ul li a:hover {
    border: 1.5px solid var(--text-color);
    background: var(--surface-color-hover);
}

/* social links*/
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}

#social-links a:hover {
    background: var(--highlight-color);
    padding: 16px;
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

/* animation */
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left: 50%;
    }
}

@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}